:root {
  /* my-custom-variant */
  --PRIMARY-color: #FFD86B; /* brand primary color */
  --SECONDARY-color: #7D6BFF; /* brand secondary color */
  --ACCENT-color: rgb( 255, 102, 78, 1 ); /* brand accent color, used for search highlights */
  --MAIN-LINK-HOVER-color: #aDaBFF; /* hoverd link color of content */
  --MAIN-BG-color: #1C1F26; /* background color of content */
  --MAIN-TEXT-color: rgba( 224, 224, 224, 1 ); /* text color of content and titles */
  --MAIN-TITLES-TEXT-color: rgba( 255, 255, 255, 1 ); /* text color of titles and transparent box titles */
  --CODE-theme: relearn-dark; /* name of the chroma stylesheet file */
  --CODE-BLOCK-color: rgba( 248, 248, 242, 1 ); /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: rgba( 43, 43, 43, 1 ); /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: rgba( 71, 71, 71, 1 ); /* border color of block code */
  --CODE-INLINE-color: #FFD86B; /* text color of inline code */
  --CODE-INLINE-BG-color: rgba( 45, 45, 45, 1 ); /* background color of inline code */
  --CODE-INLINE-BORDER-color: rgba( 70, 70, 70, 1 ); /* border color of inline code */
  --BROWSER-theme: dark; /* name of the theme for browser scrollbars of the main section */
  --MERMAID-theme: dark; /* name of the default Mermaid theme for this variant, can be overridden in hugo.toml */
  --OPENAPI-theme: dark; /* name of the default OpenAPI theme for this variant, can be overridden in hugo.toml */
  --OPENAPI-CODE-theme: obsidian; /* name of the default OpenAPI code theme for this variant, can be overridden in hugo.toml */
  --MENU-HEADER-color: rgba( 40, 40, 40, 1 ); /* color of menu header */
  --MENU-SEARCH-color: rgba( 224, 224, 224, 1 ); /* text and icon color of search box */
  --MENU-SEARCH-BG-color: rgba( 50, 50, 50, 1 ); /* background color of search box */
  --MENU-SEARCH-BORDER-color: rgba( 224, 224, 224, 1 ); /* border color of search box */
  --MENU-HOME-LINK-color: rgba( 64, 64, 64, 1 ); /* home button color if configured */
  --MENU-HOME-LINK-HOVER-color: rgba( 0, 0, 0, 1 ); /* hoverd home button color if configured */
  --MENU-SECTIONS-BG-color: #1C1F26; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-ACTIVE-BG-color: #2C2F36; /* background color of the active menu section */
  --MENU-SECTIONS-LINK-color: rgba( 186, 186, 186, 1 ); /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: rgba( 255, 255, 255, 1 ); /* hoverd link color of menu topics */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #FFD86B; /* text color of the displayed menu topic */
  --MENU-SECTION-SEPARATOR-color: rgba( 96, 96, 96, 1 ); /* separator color between menus */
  --MENU-VISITED-color: #7D6BFF; /* icon color of visited menu topics if configured */
  --BOX-CAPTION-color: rgba( 240, 240, 240, 1 ); /* text color of colored box titles */
  --BOX-BG-color: rgba( 20, 20, 20, 1 ); /* background color of colored boxes */
  --BOX-TEXT-color: rgba( 224, 224, 224, 1 ); /* text color of colored box content */
  --BOX-ORANGE-color: #FFD86B; /* background color of orange boxes */
}
